<!-- <h2>Hello World</h2>


<div>
    The sum of of 10 + 10 is {{10+10}}
</div>

<div>
    The double of 100 is {{duplicateNumber(100)}}
</div> -->

<!-- <input type="file" style="display: none;" #uploader>
<button (click)="uploader.click()">Load File</button> -->


<!-- <app-rating (onRating)="handleRating($event)"></app-rating> -->


<!-- <input type="text" (input)="title = $event.target.value">
<app-lifecycletest [title]="title"></app-lifecycletest> -->

<app-menu></app-menu>

<div class="container">
    <router-outlet></router-outlet>   
</div>
